.hero {
  background-image: url('https://e0.pxfuel.com/wallpapers/932/844/desktop-wallpaper-fitness-gym-black.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items:first baseline;
 
}

.hero-content {

  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-content button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: yellow;
  color: black;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

/* Media query for responsive styles */
@media (max-width: 965px) {
  .hero {
    height: 300px;
  }

  .hero-content h1 {
    font-size: 24px;
  }

  .hero-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .hero-content button {
    padding: 8px 16px;
    font-size: 14px;
  }
}