.pricing {
    padding: 40px;
    text-align: center;
  }
  
  .pricing-plans {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .pricing-plan {
    background-color:  #c4bebe83;
    padding: 20px;
    text-align: center;
    flex: 1;
    max-width: 300px;
  }
  
  .pricing-plan h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .pricing-plan p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .pricing-plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .pricing-plan li {
    margin-bottom: 10px;
  }
  
  .pricing-plan button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Media query for responsive styles */
  @media (max-width:  965px) {
    .pricing {
      padding: 20px;
    }
  
    .pricing-plans {
      flex-direction: column;
      align-items: center;
    }
  
    .pricing-plan {
      margin-bottom: 20px;
      max-width: 100%;
    }
  }
  